@import url('https://fonts.googleapis.com/css?family=Shizuru&display=swap');

html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
  font-family: Shizuru;
}

body {
  margin: 10em;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}
